[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.sln.iml
.vscode/
*.nupkg
*.snupkg
**/[Pp]ackages/*
![Pp]ackages/build/
[Tt]est[Rr]esult*/
*.log
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
publish/
PublishScripts/
